#what .items {
  display: block;
  padding: 1rem;
}

/*smartphones*/
@media(max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    }

  #navbar ul {
    padding: 0.5rem;
  }

  #showcase .showcase-content {
    top: 110px;
    /* margin-top: -2.5rem; */
  }

  #who {
    display: block;
  }

  #who .who-img {
    display: none;
  }

  #clients .items img {
    width: 80%;
  }

  #clients .items div:first-child {
    display: none;
  }

  #contact {
    flex-direction: column;
  }

  #contact .map {
    height: 200px;
    border-top: 4px solid #333;
  }
}
